.about-me {
  max-height: 204px;
  &__body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 24px 90px 60px 90px;
  }

  &__text {
    padding-top: 23px;
    text-align: center;
    line-height: 1.21;
  }
}
