.welcome {
  font-family: 'Inter';
  max-height: 532px;
  background-color: #edf2ec;
  &__body {
    display: flex;
  }

  &__image {
    margin: 55px 0px 55px 5px;
  }

  &__content {
    display: flex;
    flex-direction: column;
    max-width: 549px;
    max-height: 340px;
    margin: 105px 0 64px 201px;
  }

  &__title {
    font-weight: 700;
    font-size: 45px;
    line-height: 1.1;
    color: #717171;
    margin-left: 5px;
    span {
      color: #499a18;
    }
  }

  &__text {
    font-size: 20px;
    line-height: 1.75;
    color: #636060;
    margin: 45px 24px 48px 5px;
  }

  &__button {
    display: inline-block;
    background-color: transparent;
    width: 158px;
    height: 44px;
    line-height: 1.25;
    border: 2px solid #e06733;
    border-radius: 10px;
    padding: 11px 25px;
    margin-left: 5px;
    font-family: 'Inter';
    font-size: 16px;
    color: #000;
    transition: color 0.3s ease-in, background-color 0.3s ease-in;
    &:hover {
      background-color: #e06733;
      color: #ffffff;
    }
  }
}
