* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1252px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.header {
  background-color: #edf2ec;
  max-height: 134px;
}
.header__body {
  font-family: inika;
  font-size: 16px;
  color: #010201;
  display: flex;
  margin: 42px 0px;
}

.logo-header {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  max-width: 768px;
  max-height: 25.04px;
  margin: 9px 0 15px 0;
}
.logo-header__text {
  line-height: 1.3;
  margin-top: 4px;
}

.menu-header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 452px;
  line-height: 3.12;
}
.menu-header__items {
  padding-right: 46px;
  transition: color 0.2s ease-in, font-weight 0.2s ease-in;
}
.menu-header__items:last-child {
  content: "";
  padding-right: 0;
}
.menu-header__items a {
  color: #010201;
}
.menu-header__items a:hover, .menu-header__items a:active {
  font-weight: 700;
  color: #e06733;
}