* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1252px;
  margin: 0 auto;
  padding: 0 15px 0 15px;
}

.header {
  background-color: #edf2ec;
  max-height: 134px;
}
.header__body {
  font-family: inika;
  font-size: 16px;
  color: #010201;
  display: flex;
  margin: 42px 0 42px 2px;
}

.logo-header {
  display: flex;
  flex-direction: row;
  flex: 1 0 auto;
  max-width: 768px;
  max-height: 25.04px;
  margin: 9px 0 15px 0;
}
.logo-header__text {
  line-height: 1.3;
  margin-top: 4px;
}

.menu-header__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  max-width: 452px;
  line-height: 3.12;
}
.menu-header__items {
  padding-right: 46px;
  transition: color 0.2s ease-in, font-weight 0.2s ease-in;
}
.menu-header__items:last-child {
  content: "";
  padding-right: 0;
}
.menu-header__items a {
  color: #010201;
}
.menu-header__items a:hover, .menu-header__items a:active {
  font-weight: 700;
  color: #e06733;
}

.welcome {
  font-family: "Inter";
  max-height: 532px;
  background-color: #edf2ec;
}
.welcome__body {
  display: flex;
}
.welcome__image {
  margin: 55px 10px 55px 0;
}
.welcome__content {
  display: flex;
  flex-direction: column;
  max-width: 549px;
  max-height: 340px;
  margin: 98px 0 64px 201px;
}
.welcome__title {
  font-weight: 700;
  font-size: 45px;
  line-height: 1.1;
  color: #717171;
}
.welcome__title span {
  color: #499a18;
}
.welcome__text {
  font-size: 20px;
  line-height: 1.75;
  color: #636060;
  margin: 42px 24px 48px 0;
}
.welcome__button {
  width: 158px;
  height: 44px;
  line-height: 1.25;
  border: 2px solid #e06733;
  border-radius: 10px;
  padding: 11px 25px;
}
.welcome__button a {
  color: #000000;
  font-size: 16px;
}

.about__body {
  max-height: 666px;
  background-color: #fff;
  display: flex;
}
.about__content {
  width: 605px;
  height: 350px;
  display: flex;
  flex-direction: column;
  margin: 161px 0 155px 0;
}
.about__title {
  max-width: 463px;
  font-family: "Inika";
  font-size: 40px;
  line-height: 1.3;
  color: #499a18;
}
.about__title span {
  color: #e06733;
}
.about__text {
  max-width: 615px;
  font-family: "Inter";
  font-size: 20px;
  line-height: 1.5;
  color: #636060;
  margin: 39px 0;
}
.about__image {
  margin: 93px 0 94px 153px;
}

.service {
  max-height: 1300px;
  background-color: #edf2ec;
}
.service__body {
  display: flex;
  flex-direction: column;
}
.service__info {
  display: flex;
  max-width: 1007px;
  margin-top: 40px;
}
.service__title {
  font-family: "Inika";
  font-size: 40px;
  line-height: 1.3;
  color: #499a18;
  max-width: 306px;
}
.service__cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 21px 0 118px 0;
}
.service__item {
  display: flex;
  flex-direction: column;
  height: 450px;
  width: 330px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
}

.buttons-service__body {
  width: 161px;
  height: 50px;
  border: 1px solid #e06733;
  border-radius: 5px;
  padding: 12px 0;
}
.buttons-service button {
  background-color: transparent;
  display: inline-block;
  font-family: "Inika";
  font-size: 20px;
  line-height: 1.3;
  color: #e06733;
}
.buttons-service__gardens {
  padding: 0 40px;
}
.buttons-service__lawn {
  padding: 0 54px;
}
.buttons-service__planting {
  padding: 0 40px;
}

.item-service {
  margin-top: 63px;
}
.item-service__image img {
  border-radius: 20px 20px 0 0;
}
.item-service__title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #e06733;
  margin-top: 10px;
  align-self: center;
}
.item-service__text {
  font-family: "Inter";
  font-size: 16px;
  line-height: 1.25;
  color: #717171;
  margin: 10px 30px 36px 31px;
}

.prices {
  background-color: #ffffff;
  max-height: 560px;
}
.prices__body {
  display: flex;
  margin: 40px 0 115px 0;
}
.prices__list {
  width: 332px;
  height: 391.01px;
  margin-right: 438px;
}
.prices__contact {
  max-width: 452px;
}

.list-prices__title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.2;
  color: #000000;
}
.list-prices__body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 34px 41px;
  width: 332px;
  height: 282.01px;
  border: 1px solid #e3e1d5;
  border-radius: 20px;
  margin-top: 60px;
}
.list-prices__item {
  display: flex;
  width: 250px;
  height: 50px;
  border-radius: 20px;
  background-color: #edf2ec;
  margin-top: 32px;
}
.list-prices__item:first-child {
  content: "";
  margin-top: 0px;
}

.item-list-prices__text {
  font-family: "Inter";
  font-weight: 700;
  font-size: 20px;
  line-height: 1;
  color: #000000;
  margin: 16px 0 16px 40px;
}

.contact-price__title {
  font-family: "Inter";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.25;
  text-align: right;
  color: #000000;
}
.contact-price__title span {
  color: #499a18;
}
.contact-price__button {
  display: inline-block;
  width: 162px;
  height: 50px;
  background-color: transparent;
  border: 1px solid #e06733;
  border-radius: 5px;
  font-family: "Inika";
  font-weight: 700;
  font-size: 20px;
  line-height: 1.3;
  color: #e06733;
  margin: 41px 0 0 289px;
  transition: color 0.3s ease-in, background-color 0.3s ease-in;
}
.contact-price__button:hover {
  background-color: #e06733;
  color: #ffffff;
}
.contact-price__image {
  margin: 35px 0 0 300px;
}

.icon-prise__1 {
  margin: 17px 40px 17px 89px;
}

.icon-prise__2 {
  margin: 17px 40px 17px 63px;
}

.icon-prise__3 {
  margin: 17px 40px 17px 71px;
}

.contacts {
  max-height: 550px;
  background-color: #edf2ec;
}
.contacts__body {
  display: flex;
}
.contacts__image {
  margin: 53px 113px 0 0;
}
.contacts__tittle {
  font-family: "Inika";
  font-weight: 700;
  font-size: 40px;
  line-height: 1.3;
  color: #499a18;
  margin: 60px 64px 439px 0;
}
.contacts__city {
  display: flex;
  width: 450px;
  height: 50px;
  background-color: #d6e7d2;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin: 148px 0 352px 0;
}

.city-contacts__text {
  font-family: "Inter";
  font-weight: 400;
  font-size: 20px;
  line-height: 2;
  color: #717171;
  margin: 5px 0 5px 25px;
}
.city-contacts__icon {
  margin: 17px 55px 17px 334px;
}

.footer {
  max-height: 130px;
  background-color: #fff;
  font-family: "Inter";
  color: #000000;
  font-weight: 400;
  font-size: 20px;
  line-height: 2.5;
}
.footer__row {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.footer__copyright {
  display: flex;
  justify-content: space-between;
  height: 50px;
  width: 169px;
}
.footer__rs {
  margin: 1px 0 0 15px;
}
.footer__rs a {
  color: #000000;
}
.footer__rs a:hover {
  color: #717171;
}

.copyright-footer__github a {
  color: #000000;
}
.copyright-footer__github a:hover {
  color: #717171;
}

.social-media__list {
  width: 188px;
  height: 50px;
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}